<div id="<%= dom_id entraineur %>">
  <p>
    <strong>Nom:</strong>
    <%= entraineur.nom %>
  </p>

  <p>
    <strong>Prénom:</strong>
    <%= entraineur.prénom %>
  </p>

  <p>
    <strong>Téléphone:</strong>
    <%= entraineur.téléphone %>
  </p>

</div>
