<p class="notice"><%= notice %></p>

<% content_for :title, "Joueurs" %>

<h1>Joueurs</h1>

<div id="joueurs" class="joueurs-container">
  <% @joueurs.each do |joueur| %>
    <div class="joueur-card">
      <%= render joueur %>
      <p class="actions">
        <%= link_to "Show this joueur", joueur, class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>

<p>
  <%= link_to "New joueur", new_joueur_path, class: "btn btn-success" %>
</p>
