<% if flash[:notice] %>
  <div class="custom-notice alert justify-content-between align-items-center" role="alert">
    <span>
      <i class="bi bi-check-circle-fill me-2 mr-2" style="color: #1b5e20;"></i><%= flash[:notice] %>
    </span>
    <button type="button" class="close-btn" aria-label="Close" onclick="document.querySelector('.custom-notice').style.display = 'none'">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="custom-alert" role="alert">
    <button type="button" class="close-btn" aria-label="Close" onclick="document.querySelector('.custom-alert').style.display = 'none'">
      <i class="bi bi-x-lg"></i>
    </button>
    <%= raw(flash[:alert]) %>
  </div>
<% end %>

