<% if flash[:notice] %>
<div class="alert alert-success mt-4" role="alert">
    <%= flash[:notice] %>
</div>
<% end%>
<% if flash[:alert] %>
  <div class="custom-alert" role="alert" id="flash-alert">
    <button type="button" class="close-btn" aria-label="Close" onclick="dismissAlert()">
      <i class="bi bi-x-lg"></i>
    </button>
    <%= raw(flash[:alert]) %>
  </div>
<% end %>

<script>
  function dismissAlert() {
    const alertBox = document.getElementById('flash-alert');
    if (alertBox) {
      alertBox.style.display = 'none';
    }
  }
</script>

