<div id="<%= dom_id depense %>">
  <p>
    <strong>Désignation:</strong>
    <%= depense.designation %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= depense.prix %>
  </p>

  <p>
    <strong>Date dépense:</strong>
    <%= depense.date_depense %>
  </p>

</div>
