<p style="color: green"><%= notice %></p>

<% content_for :title, "Depenses" %>

<h1>Dépenses</h1>

<div id="depenses">
  <% @depenses.each do |depense| %>
    <%= render depense %>
    <p>
      <%= link_to "Show this depense", depense %>
    </p>
  <% end %>
</div>

<%= link_to "New depense", new_depense_path %>
