<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de mot de passe</title>
</head>
<body>
    <p>
        Bonjour <%= @name %>, <br><br>
        Nous avons reçu une demande de réinitialisation de votre mot de passe. <br>
        Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous : <br><br>
        <p><%= link_to 'Réinitialiser mon mot de passe', @url %></p>Réinitialiser mon mot de passe</a><br><br>
        Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.<br><br>
        Cordialement, <br>
        L'équipe de support
    </p>
</body>
</html>
