<p class="notice"><%= notice %></p>

<% content_for :title, "Parents" %>

<h1>Parents</h1>

<div id="parents" class="container">
  <% @parents.each do |parent| %>
    <div class="card">
      <%= render parent %>
      <p class="actions">
        <%= link_to "Show this parent", parent, class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>


<p>
  <%= link_to "New parent", new_parent_path, class: "btn btn-success" %>
</p>
